* {
   background-color: lightgreen;
   margin: 5 px;
   padding: 5 px;

}

.btn {
    width: 300 px;
    height: 200 px;
    background-color: black;
    color: crimson;
    margin: 35 px;
    padding: 40 px;


}